name: Previsão Diária Bitcoin

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  run-prediction:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependências
        run: |
          python -m pip install --upgrade pip
          # Instalação limpa e leve (Sem pandas_ta)
          pip install "numpy<2.0.0" pandas vaderSentiment gnews tensorflow scikit-learn requests

      - name: Mover Modelo para a Raiz
        # CORREÇÃO: O arquivo está dentro da pasta CryptoJMPredict
        run: cp CryptoJMPredict/models/modelo_cripto.keras .

      - name: Executar IA de Previsão
        # CORREÇÃO: O script também está dentro da pasta CryptoJMPredict
        run: python CryptoJMPredict/scripts/prever_criptoia.py
