name: Previsão Diária Bitcoin

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  run-prediction:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependências
        run: |
          python -m pip install --upgrade pip
          # Instalamos apenas o básico e funcional. Adeus pandas_ta!
          # numpy<2.0.0 é a única regra estrita para o TensorFlow.
          pip install "numpy<2.0.0" pandas vaderSentiment gnews tensorflow scikit-learn requests

      - name: Mover Modelo para a Raiz
        run: cp models/modelo_cripto.keras .

      - name: Executar IA de Previsão
        run: python scripts/prever_criptoia.py
